.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 24, 104);
}

.login-seal {
  width: 125px;       
  margin-bottom: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.login-card {
  background: rgb(255, 255, 255);
  padding: 2.5rem;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.login-card p {
  text-align: center;
  margin-bottom: 2.5rem;
}

.login-card input {
  width: 100%;
  height: 48px;
  padding: 12px;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

.login-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: rgb(255, 202, 0);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1.5rem;
}

.login-card button:hover {
  background: rgb(254, 227, 118);
}

/* .login-error {
  color: #dc2626;
  text-align: center;
  margin-top: 1rem;
}

.login-success {
  color: #16a34a;
  text-align: center;
  margin-top: 1rem;
} */
